<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        HI! My name is Álvaro González Rodríguez and this is my portfolio. I am studying game development. If you want to know more about me these are my contacts
        <a href="mailto:alvarogon00@gmail.com"> Gmail </a>, <a href="https://github.com/AlvaroGonzalezRodriguez"> GitHub </a> and <a href="https://www.linkedin.com/in/%C3%A1lvaro-gonz%C3%A1lez-rodr%C3%ADguez-060043249/"> LinkedIn</a>.
        </h3> 
</div> </div>

